# Logs
logs/*.log

# Temporary files
uploads/tmp/*
!uploads/tmp/.gitkeep
uploads/temp_print/*
!uploads/temp_print/.gitkeep
*.tmp

# OS / Editor files
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/

# Google Service Account Credentials
config/*.json
!config/*.json.example
